<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="row">
    <div class="col-md-4">
      <h2>Add Users</h2>
      <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onAddUser(userForm.value)">
        <div class="form-group">
          <label for="user">User Name</label>
          <input type="text" name="name" class="form-control"  required  #name ngModel>
          <small *ngIf='userForm.submitted && name.invalid && name.errors.required' id="" class="form-text text-danger">Please Enter your name</small>
        </div>
        <div class="form-group">
          <label for="tech">Technology Known</label>
          <input type="text" class="form-control" name="tech" required #tech ngModel>
        </div>
        <button type="submit" class="btn btn-sm btn-primary" >{{ editMode? 'Update' : 'Add' }} User</button>
        <button type="button" class="btn btn-sm btn-info ml-1" (click)="fetchUser()">Fetch Users</button>
      </form>
    </div>
    <div class="col-md-8">
      <h2>Users List</h2>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Used Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Technology Known</th>
            <th scope="col" colspan="2" align="center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList, index as i">
            <th scope="row">{{i+1}}</th>
            <td>user-{{ user.userId }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.tech }}</td>
            <td><i class="fa fa-pencil-alt text-success" (click)="onEditUser(user.userId, i)"></i></td>
            <td><i class="fas fa-trash text-danger" (click)="onDeleteUser(user.userId)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>



<router-outlet></router-outlet>